{% comment %}
Global button component
Usage:
{% render 'button', label: 'Click me', url: '/path', class: 'custom-class' %}
{% endcomment %}

{% if label != blank and url != blank %}
  <a href="{{ url }}" class="button {{ class }}">
    {{ label }}
  </a>
{% endif %}
