<div class="mobile-menu">
  <div class="mobile-menu__content">

    {% if section.settings.announcement_text != blank %}
      <div class="mobile-menu__announcement">
        {{ section.settings.announcement_text }}
      </div>
    {% endif %}

    {% if section.settings.button_1 != blank and section.settings.button_1_link != blank %}
      {% render 'button',
        label: section.settings.button_1,
        url: section.settings.button_1_link,
        class: 'mobile-menu__button button--yellow'
      %}
    {% endif %}

  </div>
</div>
