<article class="product-card">
  <button class="product-card__image-link js-product-card" data-product-handle="{{ product.handle }}">
    {% if product.featured_image %}
      {{
        product.featured_image
        | image_url: width: 600
        | image_tag:
          loading: 'lazy',
          class: 'product-card__image'
      }}
    {% endif %}
  </button>
</article>
