<div id="QuickViewModal" class="quick-view">
    <div class="quick-view__overlay"></div>
    <div class="quick-view__dialog">
        <button class="quick-view__close">
            {% render 'icons', icon: 'close-icon', class: 'close_icon' %}
        </button>
        <div class="quick-view__content"></div>
    </div>
</div>
