.color-option-selector {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.color-option-selector__label {
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    letter-spacing: 0%;
}

.color-option-selector__list {
    display: flex;
    border: 0.5px solid #000000;
}

.color-option-selector__item {

    position: relative;
    height: 41px;
    flex: 1;

    /* height: 64px; */

    display: flex;
    align-items: center;

    padding: 12px 24px;

    background: #FFFFFF;

    border: 0;

    cursor: pointer;
}


.color-option-selector__item + .color-option-selector__item {
    border-left: 1px solid #1B1B1B;
}


/* Color indicator */
.color-option-selector__indicator {

    width: 8px;
    height: 100%;

    position: absolute;

    left: 0;
    top: 0;
    border-right: 1px solid #000000;
}


/* Text */
.color-option-selector__text {

font-weight: 400;
font-size: 18px;
line-height: 100%;
letter-spacing: -2%;
text-transform: capitalize;

}


/* Selected state */

.color-option-selector__item.is-active {

    background: #000;

}


.color-option-selector__item.is-active
.color-option-selector__text {

    color: #FFF;

}
